.panel-default {
    border: 1px solid #eee;
    box-shadow: 0 2px 2px #cccccc;
    color: #282c34;
    padding: 1rem;
    background-color: #ffffff;
}

.panel-checked {
    border: 1px solid #eee;
    box-shadow: 0 2px 2px #cccccc;
    color: #282c34;
    padding: 1rem;
    background-color: rgb(212, 174, 187)
}

.panel-list {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.panel-header {
    width:100%;
    border-spacing: 0;
}

.align-right {
    text-align: right;
    width: 30px;
    padding: 0px; 
}

.check {
    width: 26px;
    height: 29px;
}

.caption {
    font-size: 24px;
    font-weight: bold;
    color: #444c5a;
    font-family: 'Segoe UI', sans-serif;
    width:100%;
}

.text {
    font-size: 16px;
    color: #444c5a;
    font-family: 'Segoe UI', sans-serif;
    width:100%;
    height: 130px;
    resize: none;
}

.hide-long-caption {
    white-space: nowrap;
    width: 320px;
    overflow: hidden;
    text-overflow:ellipsis;
    padding-top: 3px;
    padding-left: 4px;
    padding-bottom: 3px;
}

.show-caption {
    padding-top: 2px;
    padding-left: 3px;
    padding-bottom: 3px;
}

.hide-long-text {
    word-wrap:break-word;
    padding-top: 3px;
    padding-left: 3px;
    margin-bottom: 6px;
}

.show-text {
    padding-top: 2px;
    padding-left: 3px;
    margin-bottom: 4px;
}

.input {
    border: 1px solid rgb(199, 199, 199);
    background-color: #f4f4f4;
}

.button {
    margin-left: 5px;
    width: 100px;
    background-color: rgb(212, 174, 187);
}
