.panel-default {
    border: 1px solid #eee;
    box-shadow: 0 2px 2px #cccccc;
    width: 400px;
    height: 200px;
    color: #282c34;
    padding: 1rem;
    background-color: #ffffff;
}

.panel-checked {
    border: 1px solid #eee;
    box-shadow: 0 2px 2px #cccccc;
    width: 400px;
    height: 200px;
    color: #282c34;
    padding: 1rem;
    background-color: rgb(212, 174, 187)
}

.panel-list {
    display: left;
    padding: 2rem;
}

.panel-header {
    width:100%;
    border-spacing: 0;
}

.align-right {
    text-align: right;
}

.check {
    width: 26px;
    height: 29px;
}

.caption {
    font-size: 24px;
    font-weight: bold;
    color: #444c5a;
    font-family: 'Segoe UI', sans-serif;
}

.text {
    font-size: 16px;
    color: #444c5a;
    font-family: 'Segoe UI', sans-serif;
    width: 395px;
    height: 130px;
}

.hide-long-caption {
    white-space: nowrap;
    width: 320px;
    overflow: hidden;
    text-overflow:ellipsis;
    padding-top: 2px;
    padding-left: 4px;
}

.hide-long-text {
    word-wrap:break-word;
    padding-top: 4.8px;
    padding-left: 3px;
}
