.header {
  text-align: center;
  background-color: #282c34;
  color: white;
  margin: 20px;
  padding-bottom: 10px;
}

.panel {
  border: 1px solid #eee;
  box-shadow: 0 2px 2px #cccccc;
  width: 400px;
  height: 200px;
  display: left;
  margin-left: 20px; 
  margin: 20px;
}
